footer
  .container.text-center
    p.pull-left © 2021 Node Application. All Rights Reserved
    a.github-button.float-right(href="https://github.com/paalamugan/nodejs-backend-with-typescript", data-icon="octicon-star", data-show-count="true", aria-label="Star paalamugan/nodejs-backend-with-typescript on GitHub") Star
